/**
 * Global variables
 */

/**
 * Reference:
 * http://www.zhihu.com/question/20683099?sort=created
 * https://ruby-china.org/topics/14005
 */
@font_family: "Helvetica Neue", Helvetica, arial, "Microsoft Yahei", "微软雅黑", "宋体", sans-serif;

@link_color:         #00afc8;
@link_hover_color:   #00a5bd;
@link_active_color:  #009bb1;

@color: #252f3d;
