/**
 * Default theme
 */

/**
 * Reference:
 * http://www.zhihu.com/question/20683099?sort=created
 * https://ruby-china.org/topics/14005
 */
@font_family: "Helvetica Neue", Helvetica, arial, "Microsoft Yahei", "微软雅黑", "宋体", sans-serif;

@border_radius: 2px;

//Colors
@color_font_light_title: #a8b3bc;
@color_font_title: #738293;
@color_font_dark_title: #5b6775;
@color_font: #252f3d;

@color_blue_lighter: #e5f7fa;
@color_blue_light: #b9f1f9;
@color_blue: #00afc8;
@color_blue_dark: #00a5bd;
@color_blue_darker: #009bb1;
@color_blue_selected: #5cd0e0;

@color_green_lighter: #ddf9f6;
@color_green: #1eb9a5;
@color_green_dark: #09b29c;
@color_green_darker: #00a993;

@color_red_lighter: #fff4f4;
@color_red_light: #fdc4c8;
@color_red: #e05c69;
@color_red_dark: #d6505c;
@color_red_darker: #cd4855;

@color_yellow_lighter: #fff7ea;
@color_yellow: #ffcd7e;

@color_white: #ffffff;

@color_btn_gray: #dfe4e6;
@color_btn_gray_dark: #d4dadc;
@color_btn_gray_darker: #c7cfd2;

@color_btn_disabled_gray: #d9e3e5;
@color_btn_disabled_gray_font: #a8b3be;

@color_default_light_gray: #f3f6f8;
@color_default_gray: #ecf0f2;

@color_table_hd_bg_color: #626f7e;
@color_table_stripped: #f3f8fa;
@color_talbe_hover: #e1f4f7;
@color_table_selected: @color_blue_light;

@color_switch_blue_bg: #c3ebf0;
@color_switch_blue_btn: @color_blue;
@color_switch_gray_bg: #bdc3c7;
@color_switch_gray_btn: #7f8c8d;

@color_input_border: #e2e7ea;
@color_disabled_input_font: #b8c5ce;
@color_disabled_input_border: #e7ebee;
@color_disabled_input_bg: #f8fafc;

@color_menu_category_gray: #e6ebec;
@color_menu_category_gray_font: #93b1bb;
@color_menu_item_gray: #d5dddf;
@color_menu_item_gray_font: #527583;

@color_slider_track_bg: #9de6f1;

@color_step_item_bg: #ccd6dc;

@color_nav_bg: #007382;
@color_nav_item_border: #006779;

@color_disabled_bg: #e2e7ea;
@color_disabled_dark_bg: #d9e2e5;
@color_disabled_border: #ccd6cd;
@color_disabled_font: #a8b3be;
@color_disabled_dark_font: #92a0a9;
