.loading-style(@size) {
  .icon-loading();
  font-size: @size !important;
  font-family: "icons";
  animation: spin 1.28s linear .28s infinite;
  -moz-animation: spin 1.28s linear .28s infinite;
  -webkit-animation: spin 1.28s linear .28s infinite;

  &:after {
    content: "\f127";
    opacity: 0.08;
    margin-left: -@size;
    display: inline-block;
    animation: spin 1.28s linear .32s infinite;
    -moz-animation: spin 1.28s linear .32s infinite;
    -webkit-animation: spin 1.28s linear .32s infinite;
  }
}