// Mixins


// Variables
@input_padding:  4px 10px;
@input_border: 1px solid @color_grey_700;
@input_height: 22px;
@input_radius: 2px;
@input_hover_border_color: @color_info;
@input_focus_border_color: @color_info;
@input_error_border_color: @color_delete;

@input_disabled_font_color: @color_font_400;
@input_disabled_border_color: @color_disabled_700;
@input_disabled_bg_color: @color_disabled_400;


input {
  padding: @input_padding;
  border: @input_border;
  border-radius: @input_radius;
  height: @input_height;
  line-height: @input_height;
  box-sizing: content-box;

  &:hover{
    border-color: @input_hover_border_color;
  }

  &:focus {
    border-color: @input_focus_border_color;
  }

  &.error {
    border-color: @input_error_border_color;
  }
}


// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  color: @input_disabled_font_color;
  border-color: @input_disabled_border_color;
  background-color: @input_disabled_bg_color;
  cursor: not-allowed !important;
  user-select: none;
}
// Explicitly reset the colors here
input[type="radio"],
input[type="checkbox"],
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
  height: auto;
}
