@menu_font_color: @color_menu_font;
@menu_font_title_color: @color_menu_gray_font_title;
@menu_font_item_color: @color_menu_font;
@menu_font_selected_color: @color_menu_font_hover;

@menu_bg_color: white;
@menu_line_color: @color_menu_gray_border;
@menu_category_select_color: @color_menu_gray_border;

.menu {
  background-color: @menu_bg_color; /* For browsers that do not support gradients */
  width: 200px;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  border-right: 1px solid @menu_line_color;

  > li, > li > div {
    a {
      display: block;
      padding-left: 20px;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      color: @menu_font_item_color;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        color: @menu_font_selected_color;
      }
      &.selected {
        height: 38px;
        line-height: 38px;
        color: @menu_font_selected_color;
        background-color: @menu_bg_color;
        border-top: 1px solid @menu_line_color;
        border-bottom: 1px solid @menu_line_color;
      }
      .glyphicon {
        margin-right: 12px;
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
      span {
        vertical-align: middle;
      }
    }

    h6 {
      height: 52px;
      line-height: 52px;
      padding: 0 20px;
      color: @menu_font_title_color;
      font-weight: normal;
    }

    .icon-arrow-up,
    .icon-arrow-down {
      width: 10px;
      height: 10px;
      font-size: 10px;
      margin-top: 14px;
      float: right;
      vertical-align: baseline;
      transition: 0.5s ease-in-out;
      &.rotate {
        transform: rotate(180deg);
      }
    }

    li {
      height: 40px;
      line-height: 40px;

      a.selected {
        &:after {
          content: "";
          width: 1px;
          height: 38px;
          background-color: @menu_bg_color;
          float: right;
          margin-right: -1px;
        }
      }
    }
  }
}