@pagination_item_color: @color_font_dark_title;
@pagination_item_hover_color: @color_blue_dark;
@pagination_item_active_color: @color_blue_darker;
@pagination_item_selected_color: @color_blue;

.pagination {
  display: inline-block;

  > li {
    display: inline;

    a {
      float: left;
      display: block;
      padding: 0;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
    }
    .item {
      color: @pagination_item_color;
      &:hover {
        color: @pagination_item_hover_color;
      }
      &:active {
        color: @pagination_item_active_color;
      }
      &.active {
        color: @pagination_item_selected_color;
        cursor: default;
      }
    }
    .prev,
    .next {
      line-height: 22px;
    }

  }

}