@slider_bg_color: @color_input_border;
@slider_track_bg_color: @color_slider_track_bg;
@slider_default_bg_color: @color_blue;
@slider_thumb_bg_color: @color_blue;
@slider_thumb_color: @color_white;

.slider {
  position: relative;
  width: 300px;
  height: 16px;
  background-color: @slider_bg_color;
  border-radius: 2px;

  .slider-track {
    width: 0;
    height: 100%;
    background-color: @slider_track_bg_color;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .slider-default {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: @slider_default_bg_color;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .slider-thumb {
    position: absolute;
    left: 0;
    top: -3px;
    width: 1px;
    height: 12px;
    border: 5px solid @slider_thumb_bg_color;
    border-radius: 1px;
    background-color: @slider_thumb_color;
    cursor: pointer;
  }
}