@switch_off_color: white;
@switch_off_bg_color: @color_gray_darker;
@switch_off_btn_bg_color: @color_gray;
@switch_on_bg_color: @color_blue_dark;
@switch_on_btn_bg_color: @color_blue_lighter;
@switch_on_font_color: @color_blue;
@switch_bg_color: @color_gray_darker;
@switch_disabled_bg_color: @color_gray_beige;
@switch_disabled_btn_bg_color: @color_gray;

.switch {
  width: 60px;
  user-select: none;

  input {
    position: absolute;
    visibility: hidden;
    left: -99px;
  }
  input + .switch-inner {
    display: block;
    position: relative;
    padding-right: 10px;
    height: 22px;
    line-height: 22px;
    width: 100%;
    background-color: @switch_off_btn_bg_color;
    color: @switch_off_color;
    font-weight: bold;
    border-radius: 11px;
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color .4s;

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 3px;
      left: 5px;
      background-color: @switch_off_bg_color;
      border-radius: 50%;
      transition: all .4s;
    }
  }

  input:checked + .switch-inner {
    padding-left: 10px;
    background-color: @switch_on_btn_bg_color;
    color: @switch_on_font_color;
    text-align: left;

    &::after {
      left: calc(100% - 20px);
      background-color: @switch_on_bg_color;
    }
  }

  &.disabled {
    input + .switch-inner {
      color: @switch_bg_color;
      background-color: @switch_disabled_bg_color;
      &::after {
        background-color: @switch_disabled_btn_bg_color;
      }
    }
  }
}
