<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu Sample</title>
    <link href="../../dist/css/uskin.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
  </head>
  <body>
      <ul class="menu">
        <li>
          <a href="#" class="selected">
            <i class="glyphicon icon-overview"></i>
            <span>Overview</span>
          </a>
        </li>
        <li>
          <h6>Cloud Servers</h6>
          <ul>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h6>Cloud Servers</h6>
          <ul>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon icon-overview"></i>
                <span>Instance</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h6>Cloud Servers</h6>
        </li>
        <li>
          <h6>Cloud Servers</h6>
        </li>
        <li>
          <h6>Cloud Servers</h6>
        </li>
      </ul>
  </body>
</html>